# Dagger
export DAGGER_VERSION="v0.14.0"

export DAGGER_ENGINE_IMAGE="registry.dagger.io/engine:${DAGGER_VERSION}"
export DAGGER_ENGINE_NAME="dagger-engine-${DAGGER_VERSION}"
# export DAGGER_ENGINE_NAME="dagger-engine-custom"
export _EXPERIMENTAL_DAGGER_RUNNER_HOST="docker-container://${DAGGER_ENGINE_NAME}"

# The three vars below change at every dagger version (being hashes of the images)
export "DAGGER_GO_SDK_MANIFEST_DIGEST=sha256:0bbceb0c4f1c346d3408087273bce50bd6ffaa39d76d783b4c177421a984c5f0"
export "DAGGER_PYTHON_SDK_MANIFEST_DIGEST=sha256:c64096425c63f26e2e301643eb3a25f4e533881a8b49d87c2a596a2405c923eb"
export "DAGGER_TYPESCRIPT_SDK_MANIFEST_DIGEST=sha256:c0aa2496d90869c1c73451bd70780c572a29a849a7e96fbd334d840e405572ba"

# The two var below are more stable
export "DAGGER_PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
export "DAGGER_EXPERIMENTAL_DAGGER_RUNNER_HOST=unix:///var/run/buildkit/buildkitd.sock"

export DAGGER_REGISTRY_HOST="git.localhost"
# export DAGGER_REGISTRY_HOST="git.localhost:8000"
# export DAGGER_REGISTRY_HOST="git.localhost:8443"

export DAGGER_REGISTRY_USERNAME="aruba-demo"
export DAGGER_REGISTRY_PASSWORD="NeOzersChqN9fydl"
