export DAGGER_ENGINE_IMAGE="registry.dagger.io/engine:v0.13.3"
export DAGGER_ENGINE_CUSTOM="dagger-engine-custom"
export _EXPERIMENTAL_DAGGER_RUNNER_HOST="docker-container://${DAGGER_ENGINE_CUSTOM}"

export DAGGER_REGISTRY_HOST="git.localhost"
# export DAGGER_REGISTRY_HOST="git.localhost:8000"
# export DAGGER_REGISTRY_HOST="git.localhost:8443"
export DAGGER_REGISTRY_USERNAME="aruba-demo"
export DAGGER_REGISTRY_PASSWORD="NeOzersChqN9fydl"
